Repository SMC17/GAME_DEV, changes with the labels that .github/labeler.yml gives for each.
All labels: engine, simulation, ui, campaign, arcade, tycoon, character, sandbox, documentation, build, tests

.github/labeler.yml:

# Engine changes
engine:
- src/engine/**/*

# Core simulation
simulation:
- src/main.zig
- src/engine/**/*

# UI changes
ui:
- src/ui/**/*

# Campaign mode
campaign:
- src/modes/campaign/**/*

# Arcade mode
arcade:
- src/modes/arcade/**/*

# Tycoon mode
tycoon:
- src/modes/tycoon/**/*

# Character mode
character:
- src/modes/character/**/*

# Sandbox mode
sandbox:
- src/modes/sandbox/**/*

# Documentation changes
documentation:
- README.md
- docs/**/*
- CHANGELOG.md

# Build system changes
build:
- build.zig
- .github/workflows/**/*

# Tests
tests:
- tests/**/*

Add integration tests, cross-platform testing, documentation generation, and performance benchmarks
  .github/workflows/benchmark.yml
  .github/workflows/cross-platform.yml
  .github/workflows/docs.yml
  build.zig
  tests/benchmarks.zig
  tests/integration_tests.zig
  tools/generate_docs.zig
Labels: build, tests

Updated .gitignore to exclude .zig-cache directory
  .gitignore
Labels: none

Expanded test coverage with UI component tests and improved documentation
  .github/workflows/blank.yml
  .github/workflows/cross-platform.yml
  .zig-cache/h/f6455862588f60c440803b6a150ef9aa.txt
  .zig-cache/z/c8114b040daa461a9e2eabd0357554a4
  README.md
  build.zig
  docs/testing.md
  tests/ui_tests.zig
Labels: documentation, build, tests

Add game integration features with shared player data system, improved UI with visualization
  src/main.zig
  src/main_menu.zig
  src/modes/sandbox/sandbox_mode.zig
  src/modes/sandbox/sandbox_runner.zig
  src/shared/player_data.zig
  src/ui/terminal_ui.zig
Labels: simulation, ui, sandbox

Major improvements: Fix UI issues, add player data initialization, update documentation
  .gitignore
  CHANGELOG.md
  README.md
  build.zig
  docs/MILESTONE2_TASKS.md
  docs/PROJECT_STATUS.md
  docs/TYCOON_MODE.md
  src/arcade_mode.zig
  src/benchmark.zig
  src/campaign_mode.zig
  src/character_mode.zig
  src/main.zig
  src/main_menu.zig
  src/modes/arcade/arcade_mode.zig
  src/modes/campaign/campaign_mode.zig
  src/modes/campaign/campaign_runner.zig
  src/modes/campaign/narrative.zig
  src/modes/character/character_mode.zig
  src/modes/character/character_runner.zig
  src/modes/sandbox/sandbox_runner.zig
  src/modes/tycoon/tycoon_mode.zig
  src/modes/tycoon/tycoon_runner.zig
  src/player_data.zig
  src/tycoon_mode.zig
  src/ui/terminal_ui.zig
Labels: simulation, ui, campaign, arcade, tycoon, character, sandbox, documentation, build

AAA-level enhancements: Optimize performance and enhance gameplay
  docs/AAA_POLISH_PLAN.md
  src/modes/tycoon/tycoon_mode.zig
  src/modes/tycoon/tycoon_runner.zig
Labels: tycoon, documentation

Add game depth: corporate strategies, crisis events, and meaningful decisions to Tycoon Mode
  src/modes/tycoon/tycoon_mode.zig
  src/modes/tycoon/tycoon_runner.zig
Labels: tycoon
